body{
    width: 100%;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}

.digital-marketing{
    padding: 20px 40px 40px;
    background-color: #FAFAFA;
    width: 100%;
    height: 666px;
    position: relative;
}

.content{
    margin-top: 200px;
    margin-left: 100px;
    display: inline-block;
    width: 450px;
}

.digital-marketing .content #title{
    margin-top: 0;
    font-size: 56px;
    font-weight: 100;
    line-height: 1.143;
    color: #2D314D;
}
p{
    line-height: 1.556;
    font-size: 18px;
    font-weight: 400;
    color: #9597A5;
}
.nav-button.first-section{
    float: left;
}
.digital-marketing .image-mockups {
    position: absolute;
    top: -140px;
    left: 1000px;
    z-index: 2;
}

.digital-marketing .bg-intro-desktop{
    position: absolute;
    top: -250px;
    left: 700px;
    z-index: 1;
    
}
