*{transition:all 0.3s ease-in-out;}

body{
    margin: 0;
}


.button{
    border-radius: 22px;
    float: right;
    margin-top: 8px;
    margin-right: 150px;
    padding: 15px 33px;
	border: none;
	text-decoration: none;
    font-family: 'Public Sans', sans-serif;
	font-size: 14px;
    font-weight: 100;
	color: #FFFFFF;
	background: linear-gradient(to right, #33D35E, #2AB6D9);
}


button:hover {
    opacity: 40%;
}
