*{transition:all 0.3s ease-in-out;}

body{
    margin: 0;
}

header{
    position: relative;
    width: 100%;
    /* display: block; */
}

.nav-div{
    position: relative;
    z-index: 1;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: #FFFFFF;
}

nav>ul{
    /* margin-left: 555px; */
    display: inline-block;
    vertical-align: middle;
}

.logo{
    margin-left: 165px;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0 10px 0;
    /* float: left; */
/* 
    margin-left: 196.58px;
    margin-top: 52px; */
}

nav>ul>li{
    /* margin-top: 32px; */
    padding: 25px 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size:14px;
    color: #9597A5; 
    font-family: 'Public Sans', sans-serif;
}

ul li:hover{
  color: hsl(233, 26%, 24%);
  
}

.nav-button button{
    border-radius: 22px;
    float: right;
    margin-top: 8px;
    margin-right: 150px;
    padding: 10px 33px;
	border: none;
	text-decoration: none;
    font-family: 'Public Sans', sans-serif;
	font-size: 14px;
    font-weight: 100;
	color: #FFFFFF;
	background: #2AB6D9;
}


.nav-button button:hover {
    background: linear-gradient(to right, #33D35E, #2AB6D9);
}
