* {box-sizing: border-box;}
body{
    background-color: #FAFAFA;
}

.container{    
    margin: 5% 0 10% 30%;
}

.request-title{

    font-size: 56px;
    font-weight: 100;
    line-height: 1.143;
    color: #2D314D;
}

.inline-form input{
    margin: 15px 10px 30px 0;
    padding: 10px 30px;
    background-color: #fff;
    border: double 3px transparent;
    border-radius: 6px;
    background-image: linear-gradient(white, white), 
                    linear-gradient(to right, #33D35E, #2AB6D9);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    outline: none ;
}


.inline-form label{
    color: #9597A5;
    font-size: 18px;
    font-weight: 400px;
}

#country, #post-code, #email{
    padding-right: 280px;
}
input, label {
    display:block;
}

.button-request{
    border-radius: 22px;
    margin-top: 8px;
    padding: 15px 33px;
	border: none;
	text-decoration: none;
    font-family: 'Public Sans', sans-serif;
	font-size: 14px;
    font-weight: 100;
	color: #FFFFFF;
	background:  #2AB6D9;
}

.button-request:hover{
	background: linear-gradient(to right, #33D35E, #2AB6D9);

}

    

